<div class="row">
    <div class="col-md-12">

        <h3>ID Token for the User</h3>
        <p>The ID Token can be extracted from the user's claims.</p>
        
        <p><strong>ID Token:</strong> @ViewBag.IdToken</p>
    </div>
</div>